






@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
}
section {
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 80px;
}
a{
    text-decoration: none;
    color: black;
}
  #header {
    position: fixed;
    top: 0;
    background-color: gray;
    z-index: 100;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 15% 65% 20%;
    padding: 0 2rem;
    align-items: center;
    overflow: hidden;
  }
  .navbar-left .nav-list li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    position: relative;
    transition: transform 0.4s ease;
  }
  .navbar-left .nav-list li a::before {
    position: absolute;
    content: "";
    top: 100%;
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    background-color: #000000;
    transition: transform 0.4s ease;
  }
  .navbar-left .nav-list li a:hover {
    text-shadow: 1px 1px 3px white;
    transform: scale(1.1);
  }
  .navbar-left .nav-list li a:hover::before {
    transform: scaleX(1);
  }
  .navbar-left .nav-list li a:hover:active {
    transform: scale(0.9);
  }
  #header .header-img {
    width: auto;
    height: 75px;
    transform: scale(2);
    margin-top: 10px;
  }
  #header .navbar-left .nav-list {
    font-size: 1.6rem;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
    height: 100%;
  }
  .navbar-right {
    display: flex;
    height: 100%;
    font-size: 1.5rem;
    align-items: center;
    gap: 1rem;
  }
  .navbar-right .bi {
    cursor: pointer;
    transition: transform 0.4s ease;
    color: black;
  }
  .navbar-right .bi:hover {
    text-shadow: 1px 1px 3px white;
  }
  .navbar-right .bi:active {
    transform: scale(0.9);
  }
  .search {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .search .icon-search {
    cursor: pointer;
  }
  .search #text {
    padding: 0 1rem;
    height: 36px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .search .icon-search {
    position: absolute;
    margin-right: 0.5rem;
  }


/* HEADER MOBILE */
.mobile-header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: gray;
  z-index: 100;
  width: 100% ;
  height: 80px;
}
.navbar-left__mobile{
  position: relative;
  padding: 0rem 0 0 1rem;
}
.navbar-left label{
  display: inline-block;
}
.icon-hambergur{
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#check:checked ~ .navbar-left label .icon-hambergur .hambergur::after{
  top: 0;
  transform:rotate(45deg);

}
#check:checked ~ .navbar-left label .icon-hambergur .hambergur{
  background-color: transparent;
}
#check:checked ~ .navbar-left label .icon-hambergur .hambergur::before{
  top: 0;
  transform:rotate(-45deg);

}
#check:checked ~ .navbar-left .list-menu__mobile{
  transform: translateX(0);
}
.hambergur,
.hambergur::after,
.hambergur::before{
  transition: all 1s ease;
}
.hambergur{
  position: relative;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 999px;
}
.hambergur:before{
  content: "";
  position: absolute;
  top: 15px;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 999px;
}
.hambergur::after{
  content: "";
  position: absolute;
  top: -15px;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 999px;
}
.list-menu__mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  overflow: hidden; 
  transform: translateX(-100%);
  transition: all 0.5s ease;
  display: grid;
  grid-template-columns: 350px 1fr;
}
.list-menu__left{
  width: 250px;
  background-color: white;

}
.menu-mobile__title{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.menu-mobile__title h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-left__mobile .nav-list__mobile{
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
  gap: 1rem;
  font-size: 1.6rem;
  min-height: auto;
}
.menu-mobile__title .icon-hambergur{
  margin  : 1rem;

}
.nav-list-item a{
  color: #000000;
}
/* CENTER */
.mobile-header .header-img {
  margin-top: 5px;
  width: auto;
  height: 80px;
  /* transform: scale(2); */
  /* margin-top: 10px; */
}
.mobile-header .navbar-center{
  display: flex;
  justify-content: center;
}
/* RIGHT */
.navbar-right__mobile{
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0 0;
}
.navbar-right__mobile .bi-mobile{
  cursor: pointer;
  transition: transform 0.4s ease;
  color: black;
}
.navbar-right__mobile .bi-mobile:hover{
  text-shadow: 1px 1px 3px white;
}
.navbar-right__mobile .bi-mobile:active{
  transform: scale(0.9);
}
#check-cart:checked ~ .container-cart{
  transform: translateX(0);
}









/* CART */
.container-cart{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 350px;
  /* background-color: black; */
  z-index: 200;
  transform: translateX(100%);
  transition: all 0.5s ease;
}
.container-left{
  background-color: rgba(255 255 255 0.5);
}
.container-right{
  right: 0;
  background-color: white;
  padding: 1.2rem
}
.container-right .cart-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container-right .cart-title label{
  cursor: pointer;
}
.cart-products a{
  color: black;
}
.cart-products__top{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.cart-img img{
  width: 7rem
}
.cart-products a .img-desc{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.delete-products{
  display: flex;
  justify-content: space-between;
}
#check-delete:checked ~ a .products-1{
  display: none;
}
#check-delete:checked ~ .hr-1{
  display: none;
}
.cart-products__center{
  text-align: center;
  padding: 1rem 0;
}
.btn-cart{
  text-align: center;
  margin: 1rem 0;
  background-color: #E8DFD6;
  border-radius: 10px;
}
.btn-cart a{
  display: inline-block;
  padding: 1rem 0;
  color: red;
}
/* Found */
.container-found{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: grid;
  grid-template-columns: 3fr 250px;
  transform: translateX(100%);
  transition: all 1s ease;
}
.found-left{
  background-color: rgba(255 255 255 0.5);
}
.found{
  position: relative;
  display: flex;
  /* align-items: center; */
  padding: 3rem 0.5rem 0 0.5rem;
  width: 250px;
  background-color: white;
}
.found input{
  padding: 1rem;
  width: 100%;
  /* border: none; */
  height: 3rem;
  border-radius: 15px;
}
.found .bi-x-lg{
  /* position: absolute; */
  font-size: 2rem;
  transform: translateX(-100%);
}
#check-found:checked ~ .container-found{
  transform: translateX(0);
}
/*------------------------ Products --------------------*/
#products {
  width: 100%;
  padding: 0 0.5rem;
}
#products #products-title {
  margin: 3rem 0 2rem;
  text-align: center;
}
#products #products-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  height: 101%;
}
#products-items img {
  width: 100%;
}
#items-1 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f0e1c4;
  cursor: pointer;
}
#items-1 #items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-2 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #bfbfbf;
  cursor: pointer;
}
#items-2 #items-2-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 {
  position: relative;
  overflow: hidden;
}
#items-3 #items-3-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 .img-2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-3 #items-3-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 .img-3 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-3 #items-3-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#items-3 .select-color .btn-color-1 {
  background-color: #f0e1c4;
}
#items-3 .select-color .btn-color-2 {
  background-color: #000000;
}
#items-3 .select-color .btn-color-3 {
  background-color: #eeeeee;
}
#items-3 #items-3-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#items-3 #items-3-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
#items-4 {
  position: relative;
  overflow: hidden;
}
#items-4 #items-4-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-4 .img-2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-4 #items-4-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-4 .img-3 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-4 #items-4-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-4 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#items-4 .select-color .btn-color-1 {
  background-color: #f0e1c4;
}
#items-4 .select-color .btn-color-2 {
  background-color: #eeeeee;
}
#items-4 .select-color .btn-color-3 {
  background-color: #000000;
}
#items-4 #items-4-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#items-4 #items-4-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
#items-1,
#items-2,
#items-3,
#items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#items-1 .select-color,
#items-2 .select-color,
#items-3 .select-color,
#items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
#items-1 .select-color label,
#items-2 .select-color label,
#items-3 .select-color label,
#items-4 .select-color label {
  border-radius: 50%;
}
#products #btn {
  margin: 2rem 0;
  text-align: center;
  color: gray;
}
/*----------------------- ROW 2 ----------------------*/
#products #products-items-row2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
#products-items-row2 img {
  width: 100%;
}
#row2-items-1,
#row2-items-2,
#row2-items-3,
#row2-items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#row2-items-1 .select-color,
#row2-items-2 .select-color,
#row2-items-3 .select-color,
#row2-items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
#row2-items-1 .select-color label,
#row2-items-2 .select-color label,
#row2-items-3 .select-color label,
#row2-items-4 .select-color label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}
/*------------- ITEM1 ------------ */
#row2-items-1 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-1 #row2-items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
/*------------ ITEM2 --------------*/
#row2-items-2 {
  position: relative;
}
#row2-items-2 .img-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#row2-items-2 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-2 .btn-color-2 {
  background-color: black;
}
#row2-items-2 #row2-items-2-btn-img-1:checked ~ .select-color .btn-color-1,
#row2-items-2 #row2-items-2-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row2-items-2 #row2-items-2-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
/*------------ ITEM3 --------------*/
#row2-items-3 {
  position: relative;
  overflow: hidden;
}

#row2-items-3 .img-2,
#row2-items-3 .img-3 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}

#row2-items-3 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-3 .btn-color-2 {
  background-color: #000000;
}
#row2-items-3 .btn-color-3 {
  background-color: #eeeeee;
}

#row2-items-3 #row2-items-3-btn-img-1:checked ~ .select-color .btn-color-1,
#row2-items-3 #row2-items-3-btn-img-2:checked ~ .select-color .btn-color-2,
#row2-items-3 #row2-items-3-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row2-items-3 #row2-items-3-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#row2-items-3 #row2-items-3-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
/*------------- ITEM4 --------------*/
#row2-items-4 {
  position: relative;
}
#row2-items-4 .img-2,
#row2-items-4 .img-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#row2-items-4 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-4 .btn-color-2 {
  background-color: #000000;
}
#row2-items-4 .btn-color-3 {
  background-color: #B47B55;
}
#row2-items-4 #row2-items-4-btn-img-1:checked ~ .select-color .btn-color-1,
#row2-items-4 #row2-items-4-btn-img-2:checked ~ .select-color .btn-color-2,
#row2-items-4 #row2-items-4-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row2-items-4 #row2-items-4-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#row2-items-4 #row2-items-4-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
/*------------------- ROW3 --------------------*/

#products #products-items-row3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
#products-items-row3 img {
  width: 100%;
}
#row3-items-1,
#row3-items-2,
#row3-items-3,
#row3-items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#row3-items-1 .select-color,
#row3-items-2 .select-color,
#row3-items-3 .select-color,
#row3-items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
#row3-items-1 .select-color label,
#row3-items-2 .select-color label,
#row3-items-3 .select-color label,
#row3-items-4 .select-color label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/*---------------- ITEM1 --------------------*/
#row3-items-1{
  position: relative;
}
#row3-items-1 .btn-color-1 {
  background-color: #f0e1c4;
}
#row3-items-1 .btn-color-2 {
  background-color: black;
}
#row3-items-1 #row3-items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row3-items-1 #row3-items-1-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row3-items-1 .img-2 {
  position: absolute;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}
#row3-items-1 #row3-items-1-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
/*----------------- ITEM2 ------------------*/
#row3-items-2 .btn-color-1 {
  background-color: black;
}
#row3-items-2 #row3-items-2-btn-img-1:checked ~ .select-color .btn-color-1{  outline: 2px solid gray;
  outline-offset: 3px;
}
/*----------------- ITEM3 ------------------*/


#row3-items-3 .btn-color-1 {
  background-color: #000000;
}

#row3-items-3 #row3-items-3-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}

/*------------------- ITEM4 ------------------*/

#row3-items-4 .btn-color-1 {
  background-color: BLACK;
}
#row3-items-4 #row3-items-4-btn-img-1:checked ~ .select-color .btn-color-1{
  outline: 2px solid gray;
  outline-offset: 3px;
}
/*------------------- ROW4 --------------------*/

#products #products-items-row4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
#products-items-row4 img {
  width: 100%;
}
#row4-items-1,
#row4-items-2,
#row4-items-3,
#row4-items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#row4-items-1 .select-color,
#row4-items-2 .select-color,
#row4-items-3 .select-color,
#row4-items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
#row4-items-1 .select-color label,
#row4-items-2 .select-color label,
#row4-items-3 .select-color label,
#row4-items-4 .select-color label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/*---------------- ITEM1 --------------------*/
#row4-items-1 .btn-color-1 {
  background-color: black;
}
#row4-items-1 #row4-items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-1 #row4-items-1-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
/*----------------- ITEM2 ------------------*/
#row4-items-2{
  position: relative;
}
#row4-items-2 .img-2{
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: all 1s ease;
}
#row4-items-2 .img-3{
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: all 1s ease;
}
#row4-items-2 .btn-color-1 {
  background-color: #F0E1C4;
}
#row4-items-2 .btn-color-2 {
  background-color: #EAB7B3;
}
#row4-items-2 .btn-color-3 {
  background-color: black;
}
#row4-items-2 #row4-items-2-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-2 #row4-items-2-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-2 #row4-items-2-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-2 #row4-items-2-btn-img-2:checked ~ .img-2{
  opacity: 1;
  transform: translateY(0);
}
#row4-items-2 #row4-items-2-btn-img-3:checked ~ .img-3{
  opacity: 1;
  transform: translateY(0);
}
/*----------------- ITEM3 ------------------*/


#row4-items-3 .btn-color-1 {
  background-color: #000000;
}

#row4-items-3 #row4-items-3-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}

/*------------------- ITEM4 ------------------*/

#row4-items-4 .btn-color-1 {
  background-color: BLACK;
}
#row4-items-4 #row4-items-4-btn-img-1:checked ~ .select-color .btn-color-1{
  outline: 2px solid gray;
  outline-offset: 3px;
}

.container-signup{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(80px + 0.5rem);
}
.container-signup > .signup{
    box-shadow: 0 0 5px gray; 
    border: 1px solid #ccc;
    margin: 0 1rem 2rem 1rem;
    border-radius: 15px;
    width: 500px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
 .container .signup h1{
    margin: 1rem 0  ;
}
.signup .form{
    width: 90%;
    display: flex;
    flex-direction: column;
}
.form input{
    margin-bottom: 1rem;
    height: 40px;
    border-radius: 15px;
    padding-left: 15px;
}
.signup .btn-signup .miss-pass{
    color: rgb(10, 54, 174);
}
.btn-signup{
    display: flex;
    justify-content: center;

}
.btn-signup .signup{
    padding: 10px 1rem;
    background-color: rgb(10, 54, 174);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 85%;
    color: white;
}





/*----------- FOOTER -----------*/
#contact-card{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr ;
  gap: 2rem;
  justify-items: center;
  padding: 2rem 0 2rem   3rem;
}
#card-call{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#call-buy, #call-fback{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#card-info{
  min-width: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
#card-info > iframe{
  min-width:auto;
}
#info-list{
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#info-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#info-list .list-items a{
  text-decoration: none;
  color: white;
}
#card-faq{
  min-width: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
#faq-list{
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#faq-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#faq-list .list-items a{
  text-decoration: none;
  color: white;
}
#icon-list{
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.icon-items a{
  color: white;
  font-size: 1.25rem;
}
#form-contact{
  /* margin-right: 15rem; */
  min-width: 95%;
  height: 100%;
}
#contact-form{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
}
#contact-form .input{
  border-radius: 10px;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
#contact-form button{
  border-radius: 10px;
  width: 20%;
  padding: 5px 0;
  background-color: aqua;
}
@media (min-width: 1024px) {
  .mobile-header{
    display: none;
  }
}
@media (max-width: 1023px){
  #header{
    display: none;
  }
  .mobile-header{
    display: grid;
  }
}
@media (max-width:767px){
  .mobile-header{
    display: grid;
  width: 80px;
  }
  #header{
    display: none;
  }
  .mobile-header{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  #banner{
    background-image: url(/ASM/ASSETS/IMG/Banner/Logo-mobile.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
  #banner #banner-title{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  }
  #about > * {
    min-width: 0;
  }
  #about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #about img{
    min-width: 0;
  }
  #features > * {
    min-width: 0;
  }
  #features-items{
    grid-template-columns: 1fr;
  }
  #features-items #features-items-right{
    grid-template-columns: 1fr;
  }
  #features-items #features-items-right > div{
    padding: 1rem 0;  
  }
  #features-items-right .img-desc{
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}
  /* PRODUCTS */
  #products #products-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #products-items .img-desc{
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}
  #contact-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #contact #contact-card{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem 0 2rem   3rem;
  }
  .detail{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  .detail .btn-detail{
    display: inline-block;
    align-self: flex-start;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  background: linear-gradient(90deg, rgb(132, 0, 255), rgb(255, 0, 179));
  transition: all 1s ease;
}
}