@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
}
section {
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 80px;
}
#header {
  position: sticky;
  top: 0;
  background-color: gray;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  padding: 0 2rem;
  align-items: center;
  overflow: hidden;
}
#header #navbar-left #nav-list li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  transition: transform 0.4s ease;
}
#header #navbar-left #nav-list li a::before {
  position: absolute;
  content: "";
  top: 100%;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  background-color: #000000;
  transition: transform 0.4s ease;
}
#header #navbar-left #nav-list li a:hover {
  text-shadow: 1px 1px 3px white;
  transform: scale(1.1);
}
#header #navbar-left #nav-list li a:hover::before {
  transform: scaleX(1);
}
#header #navbar-left #nav-list li a:hover:active {
  transform: scale(0.9);
}
#header #header-img {
  width: auto;
  height: 75px;
  transform: scale(2);
  margin-top: 10px;
}
#navbar-left #nav-list {
  font-size: 1.6rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
  height: 100%;
}
#navbar-right {
  display: flex;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  gap: 1rem;
}
#navbar-right .bi {
  cursor: pointer;
  transition: transform 0.4s ease;
  color: black;
}
#navbar-right .bi:hover {
  text-shadow: 1px 1px 3px white;
}
#navbar-right .bi:active {
  transform: scale(0.9);
}
.search {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.search .icon-search {
  cursor: pointer;
}
.search #text {
  padding: 0 1rem;
  height: 36px;
  border-radius: 5px;
  border: 1px solid gray;
}
.icon-search {
  position: absolute;
  margin-right: 0.5rem;
}
/*------------------------ Products --------------------*/
#products {
  width: 100%;
  padding: 0 0.5rem;
}
#products #products-title {
  margin: 3rem 0 2rem;
  text-align: center;
}
#products #products-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  height: 101%;
}
#products-items img {
  width: 100%;
}
#items-1 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f0e1c4;
  cursor: pointer;
}
#items-1 #items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-2 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #bfbfbf;
  cursor: pointer;
}
#items-2 #items-2-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 {
  position: relative;
  overflow: hidden;
}
#items-3 #items-3-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 .img-2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-3 #items-3-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 .img-3 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-3 #items-3-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-3 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#items-3 .select-color .btn-color-1 {
  background-color: #f0e1c4;
}
#items-3 .select-color .btn-color-2 {
  background-color: #000000;
}
#items-3 .select-color .btn-color-3 {
  background-color: #eeeeee;
}
#items-3 #items-3-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#items-3 #items-3-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
#items-4 {
  position: relative;
  overflow: hidden;
}
#items-4 #items-4-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-4 .img-2 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-4 #items-4-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-4 .img-3 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#items-4 #items-4-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#items-4 .select-color label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#items-4 .select-color .btn-color-1 {
  background-color: #f0e1c4;
}
#items-4 .select-color .btn-color-2 {
  background-color: #eeeeee;
}
#items-4 .select-color .btn-color-3 {
  background-color: #000000;
}
#items-4 #items-4-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#items-4 #items-4-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
#items-1,
#items-2,
#items-3,
#items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#items-1 .select-color,
#items-2 .select-color,
#items-3 .select-color,
#items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
#items-1 .select-color label,
#items-2 .select-color label,
#items-3 .select-color label,
#items-4 .select-color label {
  border-radius: 50%;
}
#products #btn {
  margin: 2rem 0;
  text-align: center;
  color: gray;
}
/*----------------------- ROW 2 ----------------------*/
#products #products-items-row2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
#products-items-row2 img {
  width: 100%;
}
#row2-items-1,
#row2-items-2,
#row2-items-3,
#row2-items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#row2-items-1 .select-color,
#row2-items-2 .select-color,
#row2-items-3 .select-color,
#row2-items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
#row2-items-1 .select-color label,
#row2-items-2 .select-color label,
#row2-items-3 .select-color label,
#row2-items-4 .select-color label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}
/*------------- ITEM1 ------------ */
#row2-items-1 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-1 #row2-items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
/*------------ ITEM2 --------------*/
#row2-items-2 {
  position: relative;
}
#row2-items-2 .img-2 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#row2-items-2 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-2 .btn-color-2 {
  background-color: black;
}
#row2-items-2 #row2-items-2-btn-img-1:checked ~ .select-color .btn-color-1,
#row2-items-2 #row2-items-2-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row2-items-2 #row2-items-2-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
/*------------ ITEM3 --------------*/
#row2-items-3 {
  position: relative;
  overflow: hidden;
}

#row2-items-3 .img-2,
#row2-items-3 .img-3 {
  position: absolute;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}

#row2-items-3 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-3 .btn-color-2 {
  background-color: #000000;
}
#row2-items-3 .btn-color-3 {
  background-color: #eeeeee;
}

#row2-items-3 #row2-items-3-btn-img-1:checked ~ .select-color .btn-color-1,
#row2-items-3 #row2-items-3-btn-img-2:checked ~ .select-color .btn-color-2,
#row2-items-3 #row2-items-3-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row2-items-3 #row2-items-3-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#row2-items-3 #row2-items-3-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
/*------------- ITEM4 --------------*/
#row2-items-4 {
  position: relative;
}
#row2-items-4 .img-2,
#row2-items-4 .img-3 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(100%);
  transition:
    transform 1s ease,
    opacity 1s ease;
  pointer-events: none;
}
#row2-items-4 .btn-color-1 {
  background-color: #f0e1c4;
}
#row2-items-4 .btn-color-2 {
  background-color: #000000;
}
#row2-items-4 .btn-color-3 {
  background-color: #B47B55;
}
#row2-items-4 #row2-items-4-btn-img-1:checked ~ .select-color .btn-color-1,
#row2-items-4 #row2-items-4-btn-img-2:checked ~ .select-color .btn-color-2,
#row2-items-4 #row2-items-4-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row2-items-4 #row2-items-4-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
#row2-items-4 #row2-items-4-btn-img-3:checked ~ .img-3 {
  opacity: 1;
  transform: translateY(0);
}
/*------------------- ROW3 --------------------*/

#products #products-items-row3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
#products-items-row3 img {
  width: 100%;
}
#row3-items-1,
#row3-items-2,
#row3-items-3,
#row3-items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#row3-items-1 .select-color,
#row3-items-2 .select-color,
#row3-items-3 .select-color,
#row3-items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
#row3-items-1 .select-color label,
#row3-items-2 .select-color label,
#row3-items-3 .select-color label,
#row3-items-4 .select-color label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/*---------------- ITEM1 --------------------*/
#row3-items-1{
  position: relative;
}
#row3-items-1 .btn-color-1 {
  background-color: #f0e1c4;
}
#row3-items-1 .btn-color-2 {
  background-color: black;
}
#row3-items-1 #row3-items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row3-items-1 #row3-items-1-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row3-items-1 .img-2 {
  position: absolute;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 1s ease;
}
#row3-items-1 #row3-items-1-btn-img-2:checked ~ .img-2 {
  opacity: 1;
  transform: translateY(0);
}
/*----------------- ITEM2 ------------------*/
#row3-items-2 .btn-color-1 {
  background-color: black;
}
#row3-items-2 #row3-items-2-btn-img-1:checked ~ .select-color .btn-color-1{  outline: 2px solid gray;
  outline-offset: 3px;
}
/*----------------- ITEM3 ------------------*/


#row3-items-3 .btn-color-1 {
  background-color: #000000;
}

#row3-items-3 #row3-items-3-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}

/*------------------- ITEM4 ------------------*/

#row3-items-4 .btn-color-1 {
  background-color: BLACK;
}
#row3-items-4 #row3-items-4-btn-img-1:checked ~ .select-color .btn-color-1{
  outline: 2px solid gray;
  outline-offset: 3px;
}
/*------------------- ROW4 --------------------*/

#products #products-items-row4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
#products-items-row4 img {
  width: 100%;
}
#row4-items-1,
#row4-items-2,
#row4-items-3,
#row4-items-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
#row4-items-1 .select-color,
#row4-items-2 .select-color,
#row4-items-3 .select-color,
#row4-items-4 .select-color {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
#row4-items-1 .select-color label,
#row4-items-2 .select-color label,
#row4-items-3 .select-color label,
#row4-items-4 .select-color label {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

/*---------------- ITEM1 --------------------*/
#row4-items-1 .btn-color-1 {
  background-color: black;
}
#row4-items-1 #row4-items-1-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-1 #row4-items-1-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
/*----------------- ITEM2 ------------------*/
#row4-items-2{
  position: relative;
}
#row4-items-2 .img-2{
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: all 1s ease;
}
#row4-items-2 .img-3{
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: all 1s ease;
}
#row4-items-2 .btn-color-1 {
  background-color: #F0E1C4;
}
#row4-items-2 .btn-color-2 {
  background-color: #EAB7B3;
}
#row4-items-2 .btn-color-3 {
  background-color: black;
}
#row4-items-2 #row4-items-2-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-2 #row4-items-2-btn-img-2:checked ~ .select-color .btn-color-2 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-2 #row4-items-2-btn-img-3:checked ~ .select-color .btn-color-3 {
  outline: 2px solid gray;
  outline-offset: 3px;
}
#row4-items-2 #row4-items-2-btn-img-2:checked ~ .img-2{
  opacity: 1;
  transform: translateY(0);
}
#row4-items-2 #row4-items-2-btn-img-3:checked ~ .img-3{
  opacity: 1;
  transform: translateY(0);
}
/*----------------- ITEM3 ------------------*/


#row4-items-3 .btn-color-1 {
  background-color: #000000;
}

#row4-items-3 #row4-items-3-btn-img-1:checked ~ .select-color .btn-color-1 {
  outline: 2px solid gray;
  outline-offset: 3px;
}

/*------------------- ITEM4 ------------------*/

#row4-items-4 .btn-color-1 {
  background-color: BLACK;
}
#row4-items-4 #row4-items-4-btn-img-1:checked ~ .select-color .btn-color-1{
  outline: 2px solid gray;
  outline-offset: 3px;
}
/* ------------------XEM CHI TIáº¾T ------------- */
.detail{
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}
.detail .btn-detail{
  border-radius: 50px;
  text-decoration: none;
  color: white;
  padding: 3px 1rem;
  background: linear-gradient(90deg, rgb(132, 0, 255), rgb(255, 0, 179));
  transition: all 1s ease;
}



















/*-------------------- FOOTER ----------------*/
#contact {
  position: sticky;
  bottom: 0;
}
#contact-card {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem 0 2rem 3rem;
}
#card-call {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#call-buy,
#call-fback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#info-list {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#info-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#info-list .list-items a {
  text-decoration: none;
  color: white;
}
#card-faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#faq-list {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#faq-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#faq-list .list-items a {
  text-decoration: none;
  color: white;
}
#icon-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.bi {
  color: white;
  font-size: 1.25rem;
}
#form-contact {
  width: 85%;
  height: 100%;
}
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
}
#contact-form .input {
  border-radius: 10px;
}
#contact-form button {
  border-radius: 10px;
  width: 20%;
  padding: 5px 0;
  background-color: aqua;
}
