@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
}
section {
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 80px;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
#header {
  position: fixed;
  top: 0;
  background-color: gray;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  padding: 0 2rem;
  align-items: center;
  overflow: hidden;
}
.navbar-left .nav-list li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  transition: transform 0.4s ease;
}
.navbar-left .nav-list li a::before {
  position: absolute;
  content: "";
  top: 100%;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  background-color: #000000;
  transition: transform 0.4s ease;
}
.navbar-left .nav-list li a:hover {
  text-shadow: 1px 1px 3px white;
  transform: scale(1.1);
}
.navbar-left .nav-list li a:hover::before {
  transform: scaleX(1);
}
.navbar-left .nav-list li a:hover:active {
  transform: scale(0.9);
}
#header .header-img {
  width: auto;
  height: 75px;
  transform: scale(2);
  margin-top: 10px;
}
#header .navbar-left .nav-list {
  font-size: 1.6rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
  height: 100%;
}
.navbar-right {
  display: flex;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  gap: 1rem;
}
.navbar-right .bi {
  cursor: pointer;
  transition: transform 0.4s ease;
  color: black;
}
.navbar-right .bi:hover {
  text-shadow: 1px 1px 3px white;
}
.navbar-right .bi:active {
  transform: scale(0.9);
}
.search {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.search .icon-search {
  cursor: pointer;
}
.search #text {
  padding: 0 1rem;
  height: 36px;
  border-radius: 5px;
  border: 1px solid gray;
}
.search .icon-search {
  position: absolute;
  margin-right: 0.5rem;
}

/* HEADER MOBILE */
.mobile-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: gray;
  z-index: 100;
  width: 100%;
  height: 80px;
}
.navbar-left__mobile {
  position: relative;
  padding: 0rem 0 0 1rem;
}
.navbar-left label {
  display: inline-block;
}
.icon-hambergur {
  width: 3rem;
  height: 3rem;
  background-color: gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#check:checked ~ .navbar-left label .icon-hambergur .hambergur::after {
  top: 0;
  transform: rotate(45deg);
}
#check:checked ~ .navbar-left label .icon-hambergur .hambergur {
  background-color: transparent;
}
#check:checked ~ .navbar-left label .icon-hambergur .hambergur::before {
  top: 0;
  transform: rotate(-45deg);
}
#check:checked ~ .navbar-left .list-menu__mobile {
  transform: translateX(0);
}
.hambergur,
.hambergur::after,
.hambergur::before {
  transition: all 1s ease;
}
.hambergur {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 999px;
}
.hambergur:before {
  content: "";
  position: absolute;
  top: 15px;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 999px;
}
.hambergur::after {
  content: "";
  position: absolute;
  top: -15px;
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 999px;
}
.list-menu__mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  display: grid;
  grid-template-columns: 350px 1fr;
}
.list-menu__left {
  width: 250px;
  background-color: white;
}
.menu-mobile__title {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.menu-mobile__title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-left__mobile .nav-list__mobile {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 1rem;
  gap: 1rem;
  font-size: 1.6rem;
  min-height: auto;
}
.menu-mobile__title .icon-hambergur {
  margin: 1rem;
}
.nav-list-item a {
  color: #000000;
  width: 100%;
}
/* CENTER */
.mobile-header .header-img {
  margin-top: 5px;
  width: auto;
  height: 80px;
  /* transform: scale(2); */
  /* margin-top: 10px; */
}
.mobile-header .navbar-center {
  display: flex;
  justify-content: center;
}
/* RIGHT */
.navbar-right__mobile {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 0 0;
}
.navbar-right__mobile .bi-mobile {
  cursor: pointer;
  transition: transform 0.4s ease;
  color: black;
}
.navbar-right__mobile .bi-mobile:hover {
  text-shadow: 1px 1px 3px white;
}
.navbar-right__mobile .bi-mobile:active {
  transform: scale(0.9);
}
#check-cart:checked ~ .container-cart {
  transform: translateX(0);
}

/* CART */
.container-cart {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 350px;
  /* background-color: black; */
  z-index: 200;
  transform: translateX(100%);
  transition: all 0.5s ease;
}
.container-left {
  background-color: rgba(255 255 255 0.5);
}
.container-right {
  right: 0;
  background-color: white;
  padding: 1.2rem;
}
.container-right .cart-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.container-right .cart-title label {
  cursor: pointer;
}
.cart-products a {
  color: black;
}
.cart-products__top {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}
.cart-img img {
  width: 7rem;
}
.cart-products a .img-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.delete-products {
  display: flex;
  justify-content: space-between;
}
#check-delete:checked ~ a .products-1 {
  display: none;
}
#check-delete:checked ~ .hr-1 {
  display: none;
}
.cart-products__center {
  text-align: center;
  padding: 1rem 0;
}
.btn-cart {
  text-align: center;
  margin: 1rem 0;
  background-color: #e8dfd6;
  border-radius: 10px;
}
.btn-cart a {
  display: inline-block;
  padding: 1rem 0;
  color: red;
  width: 100%;
}
/* Found */
.container-found {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: grid;
  grid-template-columns: 3fr 250px;
  transform: translateX(100%);
  transition: all 1s ease;
}
.found-left {
  background-color: rgba(255 255 255 0.5);
}
.found {
  position: relative;
  display: flex;
  /* align-items: center; */
  padding: 3rem 0.5rem 0 0.5rem;
  width: 250px;
  background-color: white;
}
.found input {
  padding: 1rem;
  width: 100%;
  /* border: none; */
  height: 3rem;
  border-radius: 15px;
}
.found .bi-x-lg {
  /* position: absolute; */
  font-size: 2rem;
  transform: translateX(-100%);
}
#check-found:checked ~ .container-found {
  transform: translateX(0);
}
/*------------ GIỎ HÀNG -------------*/
.container {
  width: 65%;
  margin: 1rem auto;
}
.card {
  padding: 1rem 1rem;
  border: 1px solid lightgray;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container .img {
  width: 5rem;
}
.card-title {
  margin-top: calc(80px + 1rem);
}
.title-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.title-left > p:nth-child(2) {
  text-align: center;
}
.title-right {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  justify-items: center;
}
.card-products {
  padding: 1rem 1rem;
  border: 1px solid lightgray;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 2fr;
}
.items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}
.items a {
  color: black;
}
.products-left {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
}
.left-products__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: start;
}
.left-products__left .products-img__desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* .products-right > div:nth-child(2) {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  justify-items: center;
} */
.products-right {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  justify-items: center;
}
.total {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.total-right {
  display: flex;
  flex-direction: column;
  gap: rem;
}
.right-items {
  display: flex;
  justify-content: space-between;
}
.total-right .total {
  color: red;
}
/* Book products */
.book-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 38px);
  grid-template-areas:
    "user user number-phone number-phone . ."
    "adress adress adress adress adress adress"
    "provin provin district district commun commun"
    ". . . . . book-products";
  gap: 1rem;
}
.book-products input,
select,
.book-products .btn-book a {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  color: black;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.book-products .user {
  grid-area: user;
}
.book-products .number-phone {
  grid-area: number-phone;
}
.book-products .adress {
  grid-area: adress;
}
.book-products .adress-provin {
  grid-area: provin;
}
.book-products .adress-district {
  grid-area: district;
}
.book-products .adress-commun {
  grid-area: commun;
}
.book-products .btn-book {
  grid-area: book-products;
  text-align: center;
  background-color: #ee4d2d;
  padding: 0.5rem 0.5rem;
}
.book-products .btn-book a {
  border: none;
  color: white;
}
/*----------- FOOTER -----------*/
#contact-card {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr;
  gap: 2rem;
  justify-items: center;
  padding: 2rem 0 2rem 3rem;
}
#card-call {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#call-buy,
#call-fback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#card-info {
  min-width: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
#card-info > iframe {
  min-width: auto;
}
#info-list {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#info-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#info-list .list-items a {
  text-decoration: none;
  color: white;
}
#card-faq {
  min-width: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
#faq-list {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#faq-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#faq-list .list-items a {
  text-decoration: none;
  color: white;
}
#icon-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.icon-items a {
  color: white;
  font-size: 1.25rem;
}
#form-contact {
  /* margin-right: 15rem; */
  min-width: 95%;
  height: 100%;
}
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
}
#contact-form .input {
  border-radius: 10px;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
#contact-form button {
  border-radius: 10px;
  width: 20%;
  padding: 5px 0;
  background-color: aqua;
}
@media (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
}
@media (max-width: 1023px) {
  #header {
    display: none;
  }
  .mobile-header {
    display: grid;
  }
}
@media (max-width: 767px) {
  .mobile-header {
    display: grid;
    width: 80px;
  }
  #header {
    display: none;
  }
  .mobile-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  .navbar-left .nav-list li a::before {
    position: absolute;
    content: "";
    top: 100%;
    height: 3px;
    width: 30%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #000000;
    transition: transform 0.4s ease;
  }
  #banner {
    background-image: url(/ASM/ASSETS/IMG/Banner/Logo-mobile.png);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 100px;
  }
  #banner #banner-title {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
  #about > * {
    min-width: 0;
  }
  #about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #about img {
    min-width: 0;
  }
  #features > * {
    min-width: 0;
  }
  #features-items {
    grid-template-columns: 1fr;
  }
  #features-items #features-items-right {
    grid-template-columns: 1fr;
  }
  #features-items #features-items-right > div {
    padding: 1rem 0;
  }
  #features-items-right .img-desc {
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }
  /* PRODUCTS */
  #products #products-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #products-items .img-desc {
    overflow: visible;
    text-overflow: unset;
    white-space: normal;
  }
  #contact-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #contact #contact-card {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem 0 2rem 1rem;
  }
  /* Giỏ hàng */
  .tilte {
    display: none;
  }
  .card-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: calc(80px + 1rem);
  }
  .items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  }
  .products .products-left > img {
    width: 7rem;
  }
  .left-products__left {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .products-right {
    display: flex;
    flex-direction: column;
  }
  .right-items {
    display: flex !important;
    justify-content: space-between;
  }
  .total {
    display: grid;
    grid-template-columns: 1fr;
  }
  /* Book products */
  .book-products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 38px);
    grid-template-areas:
      "user user user user user user"
      "number-phone number-phone number-phone number-phone number-phone number-phone"
      "adress adress adress adress adress adress"
      "provin provin provin provin provin provin"
      "district district district district district district"
      "commun commun commun commun commun commun"
      ". . book-products book-products book-products book-products";
    gap: 1rem;
  }
  .book-products .user {
    grid-area: user;
  }
  .book-products .number-phone {
    grid-area: number-phone;
  }
  .book-products .adress {
    grid-area: adress;
  }
  .book-products .adress-provin {
    grid-area: provin;
  }
  .book-products .adress-district {
    grid-area: district;
  }
  .book-products .adress-commun {
    grid-area: commun;
  }
  .book-products .btn-book {
    grid-area: book-products;
  }
  .detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .detail .btn-detail {
    display: inline-block;
    align-self: flex-start;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, rgb(132, 0, 255), rgb(255, 0, 179));
    transition: all 1s ease;
  }
}
@media (max-width: 475px) {
  .navbar-left .nav-list li a::before {
    position: absolute;
    content: "";
    top: 100%;
    height: 3px;
    width: 30%;
    transform: scaleX(0);
    background-color: #000000;
    transition: transform 0.4s ease;
  }
  .products-left {
    display: grid;
    grid-template-columns: 1fr;
  }
  .products-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .left-products__left {
    gap: 1rem;
  }
  .products .products-left > img {
    width: 100%;
  }
}
