@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
}
h1,
p {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: black;
}
section {
  border-bottom: 1px solid #ccc;
  scroll-margin-top: 80px;
}
#header {
  position: sticky;
  top: 0;
  background-color: gray;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  padding: 0 2rem;
  align-items: center;
  overflow: hidden;
}
#header #navbar-left #nav-list li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  position: relative;
  transition: transform 0.4s ease;
}
#header #navbar-left #nav-list li a::before {
  position: absolute;
  content: "";
  top: 100%;
  height: 3px;
  width: 100%;
  transform: scaleX(0);
  background-color: #000000;
  transition: transform 0.4s ease;
}
#header #navbar-left #nav-list li a:hover {
  text-shadow: 1px 1px 3px white;
  transform: scale(1.1);
}
#header #navbar-left #nav-list li a:hover::before {
  transform: scaleX(1);
}
#header #navbar-left #nav-list li a:hover:active {
  transform: scale(0.9);
}
#header #header-img {
  width: auto;
  height: 75px;
  transform: scale(2);
  margin-top: 10px;
}
#navbar-left #nav-list {
  font-size: 1.6rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
  align-items: center;
  height: 100%;
}
#navbar-right {
  display: flex;
  height: 100%;
  font-size: 1.5rem;
  align-items: center;
  gap: 1rem;
}
#navbar-right .bi {
  cursor: pointer;
  transition: transform 0.4s ease;
  color: black;
}
#navbar-right .bi:hover {
  text-shadow: 1px 1px 3px white;
}
#navbar-right .bi:active {
  transform: scale(0.9);
}
.search {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.search .icon-search {
  cursor: pointer;
}
.search #text {
  padding: 0 1rem;
  height: 36px;
  border-radius: 5px;
  border: 1px solid gray;
}
.icon-search {
  position: absolute;
  margin-right: 0.5rem;
}

/*--------------------- CTSP -------------*/
#container {
    /* height: 100vh; */
    /* margin-top: 1rem; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-top: 2px;
}
#color-1:checked ~ .right .select-color .set-color-1,
#color-2:checked ~ .right .select-color .set-color-2,
#color-3:checked ~ .right .select-color .set-color-3 {
  outline: 2px solid gray;
  outline-offset: 4px;
}
/*----------------- LEFT ---------------*/
.left-content-img{
    position: relative;
}
/* .left-content-img .img-1{
    position: relative;
} */
.left-content-img .img-3,
.left-content-img .img-2{
    opacity: 0;
}

.left-content-img .img-2{
    top: 0;
    left: 0;
    position: absolute;
}
.left-content-img .img-3{
    top: 0;
    left: 0;
    position: absolute;
}
#color-2:checked ~ .left .left-content-img .img-2{
    opacity: 1;
}
#color-3:checked ~ .left .left-content-img .img-3{
    opacity: 1;
}



/*--------------- RIGHT -------------*/
.select-color {
  display: flex;
  /* justify-content: center;
  flex-direction: column; */
  gap: 1rem;
  margin-top: 1rem;
}
.select-color label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.select-color label:hover {
    cursor: pointer;
}
.select-color .set-color-1 {
  background-color: #F0E1C4;
}
.select-color .set-color-2 {
  background-color: #000000;
}
.select-color .set-color-3 {
  background-color: #b47b55;
}
.ctn-desc-img #color-2:checked ~ .left-content-img .img-2{
    opacity: 1;
}




.ctn-desc-img .price {
  color: red;
}
.ctn-size {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.choose-size {
  display: flex;
  gap: 1.5rem;
}
.choose-size .size {
padding: 1rem;
  border: 3px solid orange;
  display: inline-block;
}

.btn-buy {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-top: 1rem;
}
.btn-buy .buy-now,
.add-cart {
  padding: 3px 1rem;
  background-color: rgb(255, 98, 0);
}
.btn-buy .buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-buy .add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}
.ctn-service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}
.ctn-service .service-item img {
  width: 2rem;
  height: auto;
}
.ctn-service .service-item p {
  width: auto;
  height: 1rem;
}
.ctn-service .service-item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

/*------------------ FOOTER -------------*/
#contact-card {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 2rem 0 2rem 3rem;
}
#card-call {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#call-buy,
#call-fback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#card-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#info-list {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#info-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#info-list .list-items a {
  text-decoration: none;
  color: white;
}
#card-faq {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#faq-list {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#faq-list .list-items {
  list-style-type: none;
  text-decoration: none;
}
#faq-list .list-items a {
  text-decoration: none;
  color: white;
}
#icon-list {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}
.bi {
  color: white;
  font-size: 1.25rem;
}
#form-contact {
  width: 85%;
  height: 100%;
}
#contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: none;
}
#contact-form .input {
  border-radius: 10px;
}
#contact-form button {
  border-radius: 10px;
  width: 20%;
  padding: 5px 0;
  background-color: aqua;
}
